html {
    background-color: #000000;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-image: linear-gradient(to right, #800080, #00008b);
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

header h1 {
    padding-right: 100px;
}

main {
    background-color: rgb(195, 198, 198);
}

.display {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchArea,
.searchBar,
#searchedCities {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#cityInput {
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 95%;
}

#searchButton {
    border-radius: 50px;
    border-color: #000000;
    color: #FFF;
    background-color: #605f5f;
    width: 95%;

}

#now {
    border-radius: 50px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5PX;
    padding: 10PX;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    background-color: #1b365f;
    color: #FFF;
}

#cityButton {
    border-radius: 50px;
    border-color: #000000;
    margin: 10px;
    color: #FFF;
    font-weight: bold;
    background-image: linear-gradient(to right, #680084, #480087);
    height: 30px;
    width: 250px;

}

#spread {
    display: flex;
    align-items: center;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
}

#spread .card {
    border-radius: 50px;
    background-image: linear-gradient(to bottom, blue, #1b365f, #000000);
    color: #FFF;
    padding: 1px;
    margin: 10px;
    width: 25%;
}